@charset "UTF-8";

/* Typical Device Breakpoints
---------------------------------
Pequenas telas: até 600px
Celular : de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    padding: 0; margin: 0; 

    
}


#titulo {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    margin-left: -5%;
    padding-top: 3px;
    font-size: 2.3em;
   
    
}


fieldset {
    border: 0;
}



main {
    width: 35vw;
    height: 99vh;
    border: 2px solid;
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.267);
    margin-top: 2%;
    margin-left: 450px;
    padding-left: 110px;
   
    background-color: #170355b4;



}





#banner:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../projeto-formulario/imagens/fundo.jpg); 
    width: 103%;
    height: 110%;
    opacity : 0.3;
    z-index: -1;
    background-size:contain ;
    background-size: cover;
 }





input , select , textarea,button {
    border-radius: 5px;
    
}


.campo {
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 0.9em;

}

.campo label {
    margin-bottom: 0.2em;
    display: block;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
   
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    
    
}

.campo input [type= "text"], .campo input [type = "email"] , .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #210479;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    
}

.campo select option {
    padding-right: 1em;
    
    
}


.campo input:focus , .campo textarea:focus {
    background: #E0E0F8;
    
}

.botao {
    font-size: 1.2em;
    background: rgba(0, 0, 255, 0.863);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.46);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 98%;
    left: 54%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    
}

.botao:hover {
    background: #13034380;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.check {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    
    
}

.text {
    width: 26em;
    height: 3em;
    
}

.letra {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}







